.container-product{
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.addtocart{
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.02), 0px 2px 16px rgba(96, 97, 112, 0.16);
    display: flex;

    &__left{
        display: flex;
        padding-top: 17px;
        padding-bottom: 17px;
        margin-right: 200px;
        
        &__img{
            align-self: center;
            margin-right: 16px;
        }
        
        &__wrap{
            align-self: center;
            display: flex;
            flex-direction: column;

            &__text{
                margin: 0;
                padding: 0;
                font-family: "Nunito", "Arial", sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                line-height: 20px;
                color: #1A1A1A;
            }
            
            &__wrapper{
                display: flex;
                
                &__text{
                    margin: 0;
                    padding: 0;
                    margin-right: 18px;
                    font-family: "Nunito", "Arial", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #7B8E98;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }

                &__img{
                    display: flex;
                    align-self: center;
                }
            }
        }
    }

    &__calculation{
        display: flex;
        border: 1px solid #CFD8DC;
        box-sizing: border-box;
        border-radius: 100px;
        max-width: 90px;
        align-self: center;
        padding: 8px 12px 8px 12px;
        margin-right: 80px;
        
        &__img-minus{
            align-self: center;
            // padding-left: 12px;
        }

        &__text{
            margin: 0;
            padding: 0;
            padding-right: 10px;
            padding-left: 10px;
            font-family: "Nunito", "Arial", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            color: #1A1A1A;
        }

        &__img-plus{
            align-self: center;
            // padding-right: 12px;
        }

    }

    &__wrap-cost{
        display: flex;
        flex-direction: column;
        align-self: center;

        &1{
            margin: 0;
            padding: 0;
            font-family: "Nunito", "Arial", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            text-decoration-line: line-through;
            color: #1A1A1A;
            margin-bottom: 0;
        }
    }
} //end